body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(90deg, #81c784, #aed581); /* verde degradado */
    color: white;
    padding: 20px 30px;
    border-radius: 0 0 20px 20px; /* esquinas redondeadas abajo */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
}

.logo {
    height: 60px;
    width: auto;
}

.header-text {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; /* <- Esto centra horizontalmente el texto */
    text-align: center; /* <- Esto centra el texto internamente */
    flex: 1; /* Ocupa el espacio restante para que el centrado sea real */
}

.header-text h1 {
    margin: 0;
    font-size: 2rem;
}

.header-text h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #f0f0f0;
}
.subtext {
    background: linear-gradient(90deg, #a8e6cf, #dcedc1);
    color: #2e7d32;
    font-size: 1.3rem;
    text-align: center;
    padding: 15px 25px;
    margin: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    animation: fadeIn 1s ease-out;
}

#upload-form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#upload-form label {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
}

#upload-form input,
#upload-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#upload-form button {
    background-color: #b7c613;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#upload-form button:hover {
    background-color: #45a049;
}

#projects {
    margin: 20px;
}

#projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.project-item img {
    max-width: 100%;
    border-radius: 8px;
}

.project-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.project-item p {
    font-size: 1rem;
    margin-top: 5px;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}
